@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";

}
    
<section class="slid_mg">
    <div class="container">
        <div class="col-md-12">
            <h3>About LNCT</h3>
        </div>

        <div class="col-md-12 mt-4">
            <p>Lakshmi Narain College of Technology, Indore (LNCT) is one of the leading private Technical and Professional institutes in Indore today, having campus in lush green out skirts of Indore. LNCT Indore was founded in 2004 by "H.K. Education Trust, Bhopal" and all the courses of the institute are approved by AICTE Delhi, Govt. of India. Department of the Technical Education, Govt. of M.P. and are affiliated to Rajiv Gandhi Proudyogikis Vishwavidyalaya, Technical Unsiversity of Madhya Pradesh and Devi Ahiliya Vishwavidyalaya (University) Indore.</p>
        </div>

        <div class="col-md-12 mt-4">
            <p>For the undergraduate courses, the admission is through the national-level engineering entrance examination: AIEEE and MPPET. For the postgraduate courses, the entry is through GATE for MTech, NIMCET for MCA or through an institute-conducted entrance test.</p>
        </div>

        <div class="col-md-12 mt-4">
            <p>Graduate, postgraduate and doctoral level courses are offered. The following are some of the courses offered:</p>
        </div>

        <div class="col-md-12">
            <div class="col-md-12">
                <p class="mt-4">1,Mechanical Engineering.</p>
                <p class="mt-4">2, Electrical and electronics Engineering.</p>
                <p class="mt-4">3, Electronics and Communication Engineering.</p>
                <p class="mt-4">4,Computer Science and Engineering.</p>
                <p class="mt-4">5,Information Technology (IT Engineering).</p>
                <p class="mt-4">6, Computer Applications.</p>
                <p class="mt-4">7,Automobile Engineering.</p>

            </div>
        </div>

        <div class="col-md-12 mt-4">
            <p>In its span of 15+ years the institute has developed into a leading engineering and professional college in the region with state of the art infrastructure, faculty members and facilities. Performing well in University Exams and student are well placed in MNC's and performing well in reputed national /International industries and universities.</p>
        </div>

        <div class="col-md-12 mt-4">
            <p>The institute is committed to excel in areas of engineering, technology and management by enhancing its facilities, highly qualified and committed faculty drawn from repuetied academic institutions of the country and repute & senior professionals from industry as well the instate benchmark against top engineering colleges in India.</p>
        </div>

        <div class="col-md-12 mt-4">
            <p>More than any other institution in India, the Institute exists to serve the future. LNCT Indore does this by educating individuals for fulfilling, productive lives and by creating solutions to pressing or anticipated problems through research.Taught by inspired, committed, and creative faculty, our programs combine the enduring value of a liberal arts education with the skills and experience offered by engineering and management schools, to ensure that our students are engaged, adaptable, and equipped for successful careers and fulfilling lives.</p>
        </div>

        <div class="col-md-12 mt-4">
            <p>At LNCT, the finest environment for learning, innovation, research and character building is provided.</p>
        </div>

        <div class="col-md-12 mt-4">
            <p>Lakshmi Narain College of Technology, Indore is now NAAC Accredited (B grade score 2.61) institute.</p>
        </div>
        <div class="col-md-12 mt-4">

            <h6> Affiliation: AICTE, Delhi</h6>
            <h6> Contact No: 97524108 46/47 | 0731-4253125</h6>
            <h6> Email Address: info@lnctindore.com</h6>
            <h6> Address: Lakshmi Narain College Of Technology Bhawrasala, Reoti Range, Sanwer Road, Indore, Madhya Pradesh, 453331</h6>

        </div>
    </div>
</section>
