
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "TnpCell";
}
<section class="slid_mg">
    <div class="container">
        <div class="col-md-12">
            <h3>TNP Cell List</h3>
        </div>

        <div class="media mt-5">
            <img src="~/Content/img/img1.png" class="align-self-start mr-3" alt="..." width="12%">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-md-3">Name :</dt>
                    <dd class="col-md-9">Ajay Gupta</dd>

                    <dt class="col-md-3">Designation :</dt>
                    <dd class="col-md-9">HOD</dd>

                    <dt class="col-md-3">Department :</dt>
                    <dd class="col-md-9">IT </dd>
                </dl>
            </div>
        </div>

        <div class="media mt-5">
            <img src="~/Content/img/img1.png" class="align-self-start mr-3" alt="..." width="12%">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-md-3">Name :</dt>
                    <dd class="col-md-9">Mayank Yadav</dd>

                    <dt class="col-md-3">Designation :</dt>
                    <dd class="col-md-9">TNP Manager</dd>

                    <dt class="col-md-3">Department :</dt>
                    <dd class="col-md-9">CSE</dd>
                </dl>
            </div>
        </div>


        <div class="media mt-5">
            <img src="~/Content/img/img1.png" class="align-self-start mr-3" alt="..." width="12%">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-md-3">Name :</dt>
                    <dd class="col-md-9">Ankita Shankhpal</dd>

                    <dt class="col-md-3">Designation :</dt>
                    <dd class="col-md-9">TNP Manager</dd>

                    <dt class="col-md-3">Department :</dt>
                    <dd class="col-md-9">IT</dd>
                </dl>
            </div>
        </div>

    </div>
</section>
